@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background: rgba( 65, 67, 155, 0.35 );*/
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
